body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(2, 77, 77);
    margin: auto 7%;
}

.button-class {
    display: inline-block; 
    width: 100%;   
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(243, 82, 19);
    border-radius: 4px;
    background-color: rgb(245, 244, 242);
    color: rgb(10, 92, 92);
    margin: 3px 0px;
    padding: 20px 15px; 
    text-transform: capitalize;   
}

.button-class:hover {
    background-color: rgb(236, 234, 234);
}

.button-class:active {
    border: 3px solid rgb(243, 82, 19);
}

ul {
    list-style: none;
    padding-left: 0;
}