head,
body {
    color: rgb(2, 77, 77);
    margin: auto 7%;
}

.btn-info {
    border: 2px solid rgb(243, 82, 19);
    border-radius: 4px;
    background-color: rgb(245, 244, 242);
    color: rgb(10, 92, 92);
    padding: 2px 15px;    
}

.modal-content {
    background-image: linear-gradient(to bottom right, rgb(182, 216, 221), rgb(245, 244, 242));
    color: rgb(250, 73, 4);
    border-radius: 10px;
}

.buttonPokemonImg {
    width: 60px;
    height: 60px;
}
