html,
body {    
    color: rgb(2, 77, 77);
    margin: auto 7%;
}

.btn-info {
    border: 2px solid rgb(243, 82, 19);
    border-radius: 4px;
    background-color: rgb(245, 244, 242);
    color: rgb(10, 92, 92);
    padding: 20px 15px;   
}
